.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* header */
html {
  position: relative;
}

:root {
  --height: 35px;
}

.header {
  width: 100%;
  height: var(--height);
  margin: 0;
  padding: 0;
  background-color: #E98282;
}

ul {
  padding: 0 40px;
  margin: 0;
  position: absolute;
  left: 0;
}

ul li {
  display: inline-block;
  list-style-type: none;
  padding: 0 20px;
}

ul li:hover {
  background-color: #b5b945;
}

.active {
  text-decoration: none;
  color: #fff;
  line-height: var(--height);
  font-size: 16px;
  font-weight: 100px;
}

/* players */
.container {
  margin-top: var(--height);
  margin-bottom: 100px;
}

.column img:hover {
  opacity: 0.85;
}

.column {
  float: left;
  width: 25%;
  margin: 8px;
  background-color: #ccc;
  border-radius: 90px;
}

.column img {
  width: 100%;
  border-top-right-radius: 90px;
  border-top-left-radius: 90px;
}

h3,
.title,
button {
  text-align: center;
}

button:hover {
  opacity: 0.7;
}

p {
  margin-bottom: 0;
}

button {
  width: 25%;
  height: 30px;
  margin-bottom: 5px;
  background-color: #000;
  color: #fff;
  border-radius: 30px;
}

button a {
  color: #fff;
  text-decoration: none;
}

h3 {
  margin-bottom: 0;
}

.footer {
  width: 100%;
  height: 30px;
  background-color: #E98282;
  color: #fff;
  position: sticky;
  top: 100%;
  padding: 0;
  position: absolute;
}

.footer p {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

/* modal */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup img {
  width: 100%;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

/* useEffect */
.switch-mode button {
  width: 100px;
}